*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 7px;
    
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #333;
    line-height: 1.5;
    text-align: center;
    
}


.bg-image{
    background-image: url(image/bg.jpeg);
    width: 100%;
    height:45rem;
    opacity: 0.4;
    background-size: cover;
    background-position: center;
    
}
p{
    font-size: 1.4rem;
}
a{
    text-decoration: none;
    color: skyblue;
}

/*Headar*/
header{
    height: 45rem;
    position: relative;
}

header .content{
    position: absolute;
    text-align: center;
    width: 100%;
   top: 20rem;
    color: white;
}


header h1{
    font-size: 6rem;
}

.btn{
    border: 1px solid #666;
    margin-top: 1rem;
    color: #fff;
    padding: 1.6rem 3.2rem;
    background-color: #333;
    display: inline-block;
    font-size: 1.6rem;
    transition: all 0.3s;
}

.btn:hover{
    background-color: #aeaeae;
    color: white;
}

/*Main*/
#section-a{
    background-color: #eaeaea;
    color: #333;
    padding: 3.2rem 0;
}

#section-b ul{
    text-decoration: none;
}

#section-b img{
    width: 100%;
    height: auto;
    
}

#section-b .col-content{
    padding: 1.8rem 0;
    background: white;
    color:#333;
    font-size: 1.6rem;
}

#section-c .content{
    background-color: #EAEAEA;
    padding: 4.8rem 0;
    margin-top: 1.6rem;
    
}

#section-c h3{
    font-size: 2.2rem;
}

#section-d .content{
    background-color: #2690D4;
    padding: 4.8rem 0;
    color: white;
    font-size: 2.2rem;
}
#section-d .content-2{
     background-color: #333;
    padding: 4.8rem 0;
    color: white;
    font-size: 2.2rem;
}
/*footer*/

footer{
    background-color: black;
}
footer .content{
    color: white;
    font-size: 2.2rem;
    padding: 3.6rem 0;
}

@media screen and (min-width:800px) {
    
    html{
        font-size: 9px;
    }
   
}

@media screen and (min-width:1200px) {
    
    #section-b li{
        width: 28%;
        display: inline-block;
        margin: 1%;
        
    }
    
    #section-d .content{
        width: 50%;
        float: left;
    }
    
    html{
        font-size: 12px;
    }
}




